.custom-input {
  padding: 0px 0; /* Eliminamos prácticamente todo el padding vertical */
  font-size: 0.5rem; /* Tamaño de fuente ultra reducido (8px) */
  line-height: 0.75rem; /* Alto de línea pequeño pero aún legible (12px) */
}

:root {
  --button-color: #d1e4ff;
  --dial-background-color: #d1e4ff;
  --clock-hand-color: #d1e4ff;
}

