<div class="grid grid-rows-10 h-full w-full">

  <div class="w-full row-span-3">
    <img src="assets/header.png" alt="" class="w-full h-full">
  </div>
  <div class="w-full h-full row-span-6 items-center justify-center">
    <div class="flex flex-col w-full h-full grid-rows-6 items-center justify-center">
      <img src="assets/math.png" alt="" class="w-[350px] h-[450px] pt-8">
      <p class=" w-full h-full text-center text-3xl flex items-center justify-center !mt-12 px-4">
        Desliza los números para ordenarlos 🔛
      </p>
    </div>
  </div>

  <div class="w-full row-span-1 bg-[#eceef4]">
    <div class="grid grid-cols-3 w-full h-full">
      <div class="flex flex-col w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]" routerLink="/app/my-alarms">
          arrow_back
        </span>
        Atras
      </div>
      <div class="flex flex-col w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]" routerLink="/app/challenge2">
          arrow_forward
        </span>
        Otro desafío
      </div>
      <div class="flex flex-col w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]" routerLink="/app/my-alarms">
          check
        </span>
        Apagar Alarma
      </div>
    </div>
  </div>
</div>



