<div class="grid grid-rows-10 h-full w-full">
  <div class="w-full row-span-3">
    <img src="assets/header.png" alt="" class="w-full h-full">
  </div>
  <div class="w-full row-span-6 items-center justify-center">

    <div class="grid grid-rows-6">
      <p class="row-span-1 text-center text-5xl flex items-center justify-center !mt-6">
        Mis Alarmas
      </p>
      <div class="row-span-5 h-full w-full  flex items-start justify-center">

        <div class="flex flex-col w-4/5 h-5/5 rounded-lg bg-[#f2f3fa]">
          <div class="flex flex-1 overflow-hidden hover:bg-[#e1e2e9] hover:rounded-xl transition">
            <div class="w-4/5 pt-3 px-4">
              <p class="font-bold text-xs leading-tight truncate">Despertar</p>
              <p class="text-xs leading-tight truncate">Sonará: L-V - 8:00 am</p>
              <p class="text-xs leading-tight truncate">Desafío: Matemático</p>
            </div>
            <div class="w-1/5 flex items-center justify-center" routerLink="/app/edit-alarm">
              <button class="w-12 h-12 bg-[#d1e4ff] rounded-lg flex items-center justify-center">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
          </div>

          <div class="flex flex-1 overflow-hidden hover:bg-[#e1e2e9] hover:rounded-xl transition">
            <div class="w-4/5 pt-3 px-4">
              <p class="font-bold text-xs leading-tight truncate">Llamar a mamá</p>
              <p class="text-xs leading-tight truncate">Sonará: 1/12/2024 - 5:00 pm</p>
              <p class="text-xs leading-tight truncate">Desafío: Matemático</p>
            </div>
            <div class="w-1/5 flex items-center justify-center">
              <button class="w-12 h-12 bg-[#d1e4ff] rounded-lg flex items-center justify-center">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
          </div>

          <div class="flex flex-1 overflow-hidden hover:bg-[#e1e2e9] hover:rounded-xl transition">
            <div class="w-4/5 pt-3 px-4">
              <p class="font-bold text-xs leading-tight truncate">Tomar agua</p>
              <p class="text-xs leading-tight truncate">Sonará: TLD - cada 2 horas</p>
              <p class="text-xs leading-tight truncate">Desafío: Matemático</p>
            </div>
            <div class="w-1/5 flex items-center justify-center" routerLink="/app/edit-alarm-water">
              <button class="w-12 h-12 bg-[#d1e4ff] rounded-lg flex items-center justify-center">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
          </div>

          <div class="flex flex-1 overflow-hidden hover:bg-[#e1e2e9] hover:rounded-xl transition">
            <div class="w-4/5 pt-3 px-4">
              <p class="font-bold text-xs leading-tight truncate">Medicamentos</p>
              <p class="text-xs leading-tight truncate">Sonará: L-D - 6:30 pm</p>
              <p class="text-xs leading-tight truncate">Desafío: Memoria</p>
            </div>
            <div class="w-1/5 flex items-center justify-center">
              <button class="w-12 h-12 bg-[#d1e4ff] rounded-lg flex items-center justify-center">
                <span class="material-symbols-outlined">edit</span>
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="w-full row-span-1 bg-[#eceef4]">
    <div class="grid grid-cols-3 w-full h-full">
      <div
        class="flex flex-col row-span-1 w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]" routerLink="/login">
          arrow_back
        </span>
        Salir
      </div>
      <div
        class="flex flex-col row-span-1 w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]">
          add
        </span>
        Crear Alarma
      </div>
      <div
        class="flex flex-col row-span-1 w-full h-full items-center justify-center font-normal text-xs text-center text-gray-900">
        <span class="material-symbols-outlined mb-2 px-2 rounded-xl hover:bg-[#dbdde4]" routerLink="/app/asistencia">
          mood
        </span>
        Asistencia Memoria
      </div>
    </div>
  </div>
</div>
